html, body { 
  padding: 0; margin: 0; height: 100%; min-height: 100%; 
}

html {
  letter-spacing: 0.08em;
}

body {
  background: $color-main;
  color: #FFF;
  font-family: 'Open Sans', 'Montserrat', 'Helvetica Neue', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  margin: 0.85em 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-family: Montserrat;
}

h2 {
  font-weight: 500;
  font-size: 1.3em;
  color: $color-main-light;
}

p {
  margin: 1em 0;
}

a {
  color: $color-main-light;
  transition: color 100ms;

  &:hover {
    color: #FFF;
  }
}