<template name="home">

	<h1>Multiplayer Sudoku built on <a href="http://meteor.com" target="_blank">Meteor.js</a></h1>

	<p><input type="text" value="git clone https://github.com/fstgerm/sudoku.git" readonly="readonly" size="50"></p>

	<p><button class="button" data-action="create-game">Create a game</button></p>

	<p>
		<a href="http://github.com/fstgerm/sudoku" target="_blank">Source</a>
		<a href="https://twitter.com/share?url=http://sudoku.fstgerm.com&via=fstgerm&related=meteorjs&hashtags=meteorjs&text=Multiplayer%20Sudoku%20built%20on%20@meteorjs " target="_blank">Tweet</a>
	</p>

</template>