<template name="game">

    {{#if equal game.status 'playing'}}

        {{#with game}}

            {{#each players}}

                <div class="layout-panel">

                    {{#if equal userId currentUser._id}}
                        {{> userBoard}}
                    {{else}}
                        {{>board}}
                    {{/if}}

                </div>

            {{/each}}

        {{/with}}

    {{else}}

        <div class="layout-box">

            {{#with game}}

                {{#if showLink}}
                    <input type="text" value="{{urlFor 'game'}}" readonly="readonly" name="url" size="40" />
                {{/if}}

                {{#with players}}
                    {{> playersList}}
                {{/with}}

                {{#if allowedToJoin}}
                    <a href="#" data-action="join">Join</a>
                {{/if}}

                {{#if equal status 'ready'}}
                    <a href="#" data-action="ready">Ready</a>
                    <p>the game will start once everyone is ready</p>
                {{/if}}

            {{/with}}

        </div>

    {{/if}}

</template>