<template name="game">

    {{#if isPlaying}}
        
        {{#contentFor region="app-header-center"}}
            {{timer duration}}
        {{/contentFor}}

        {{! Current player board }}

        {{#with loggedPlayer}}

            {{> board}}

        {{/with}}

        {{! Opponents boards }}

        {{#contentFor region="panel"}}

            {{#each opponents}}

                {{> board}}

            {{/each}}

        {{/contentFor}}
        
    {{else}}

        {{! Share URL }}

        {{#if isHost}}
            <p>Share the link below with someone</p>
            <p><input type="text" value="{{urlFor 'game' _id=game._id}}" readonly="readonly" name="url" size="40"></p>
        {{/if}}

        {{! Players list }}

        <div class="table-list">
            {{#each players}}
                <div class="table-list-row">
                    <div class="table-list-cell">{{name}}</div>
                </div>
            {{/each}}
        </div>

        <br />

        {{! Buttons }}

        {{#if isHost}}
            <a href="#" data-action="start" class="button">Start game</a>
        {{/if}}

        {{#if canLeave}}
            <a href="#" data-action="leave">Leave</a>
        {{/if}}
         
        {{#if canJoin}}
            <a href="#" data-action="join" class="button">Join</a>
        {{/if}}

    {{/if}}

</template>