.loading {
	background: $color-main;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	z-index: 1000;
}

.loading-inner {
	margin: auto;
	animation: appear .15s ease-in-out;
}