.table-list {
	display: table;
	width: 400px;
	border: 1px solid $color-border;
	text-align: left;
}

.table-list-row {
	display: table-row;

	& + & {
		.table-list-cell {
			border-top: 1px solid $color-border;
		}
	}
}

.table-list-cell {
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	padding: .75em 1em;
}