<template name="board">

    <div class="board {{class}}">
    	
        {{> grid}}

        <div class="board-footer">
            {{#if canClear}}
                <a href="#" data-action="reset">Clear</a>
            {{/if}}


            {{#if showName}}
                <span class="board-player-name">{{name}}</span>
            {{/if}}

            {{#if finished}} 
                <span class="board-player-time">{{timer duration}}</span>
            {{/if}}

        </div>

    </div>

</template>