.board {
	text-align: center;
	margin: 20px 0;
	flex: 0 0 auto;
}

.board-footer {
	height: 32px;
}

.board--finished {
	.board-player-name {
		display: none;
	}

	&:hover {
		.board-player-name {
			display: inline-block;
		}

		.board-player-name + .board-player-time {
			display: none;
		}
	}
}